.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
}

.form {
	width: 400px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
}

.formGroup {
	margin-bottom: 15px;
}

.form label {
	display: block;
	margin-bottom: 5px;
}

.form input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

.form button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #ff774d;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.form button:hover {
	background-color: #282828;
}
